.u-section-1 {
  background-image: url("images/vbbb.jpg");
  background-position: 50% 50%;
  min-height: 752px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 83px 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 669px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 30px 40px;
}

.u-section-1 .u-text-1 {
  line-height: 1;
  font-size: 4.5rem;
  font-weight: normal;
  margin: 75px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: normal;
  margin: 20px 40px 0 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  font-size: 1rem;
  margin: 35px auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 669px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px 30px 0;
}

.u-section-1 .u-shape-1 {
  height: 412px;
  width: 429px;
  background-image: none;
  margin: 142px auto 0 98px;
}

.u-section-1 .u-image-1 {
  width: 439px;
  height: 411px;
  margin: -476px auto 0 46px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 443px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 552px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 584px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 74px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 284px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.5625rem;
  }

  .u-section-1 .u-shape-1 {
    width: 342px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 342px;
    height: 320px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1021px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 50px;
    padding-left: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 583px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 311px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-shape-1 {
    width: 330px;
  }

  .u-section-1 .u-image-1 {
    width: 330px;
    height: 309px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 780px;
}

.u-section-2 .u-text-1 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 3rem;
  animation-duration: 1000ms;
  width: 822px;
  margin: 114px auto 0;
}

.u-section-2 .u-text-2 {
  animation-duration: 1000ms;
  width: 822px;
  font-size: 1.25rem;
  margin: 14px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 128px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(25% - 36.75px);
  grid-template-columns: calc(25% - 36.75px) calc(25% - 36.75px) calc(25% - 36.75px) calc(25% - 36.75px);
  grid-gap: 49px 49px;
  min-height: 258px;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 6px 6px 0px 0px rgba(128,128,128,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 24px auto 0;
}

.u-section-2 .u-text-3 {
  width: 165px;
  margin: 24px auto 0;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 6px 6px 0px 0px rgba(128,128,128,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 24px auto 0;
}

.u-section-2 .u-text-4 {
  width: 165px;
  margin: 24px auto 0;
}

.u-section-2 .u-list-item-3 {
  box-shadow: 6px 6px 0px 0px rgba(128,128,128,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 24px auto 0;
}

.u-section-2 .u-text-5 {
  width: 165px;
  margin: 24px auto 0;
}

.u-section-2 .u-list-item-4 {
  box-shadow: 6px 6px 0px 0px rgba(128,128,128,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 64px;
  width: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 24px auto 0;
}

.u-section-2 .u-text-6 {
  width: 165px;
  margin: 24px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    text-transform: none;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 6.66667px);
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 212px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 24.5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 650px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 741px;
}

.u-section-3 .u-text-1 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 3rem;
  animation-duration: 2250ms;
  width: 822px;
  margin: 54px auto 0;
}

.u-section-3 .u-slider-1 {
  margin-top: 68px;
  margin-bottom: 60px;
  min-height: 453px;
  height: auto;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 55px;
}

.u-section-3 .u-gallery-1 {
  height: 354px;
  width: 904px;
  margin: 0 auto;
}

.u-section-3 .u-gallery-inner-1 {
  grid-gap: 18px 18px;
}

.u-section-3 .u-gallery-item-1 {
  box-shadow: 0 2px 24px 0 rgba(0,0,0,1);
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-2 {
  box-shadow: 0 2px 24px 0 rgba(0,0,0,1);
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-3 {
  box-shadow: 0 2px 24px 0 rgba(0,0,0,1);
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-gallery-2 {
  height: 354px;
  width: 904px;
  margin: 0 auto;
}

.u-section-3 .u-gallery-inner-2 {
  grid-gap: 19px 19px;
}

.u-section-3 .u-gallery-item-4 {
  box-shadow: 0 2px 24px 0 rgba(0,0,0,1);
}

.u-section-3 .u-back-slide-4 {
  transition-duration: 0.5s;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25));
  padding: 26px;
}

.u-section-3 .u-gallery-item-5 {
  box-shadow: 0 2px 24px 0 rgba(0,0,0,1);
}

.u-section-3 .u-back-slide-5 {
  transition-duration: 0.5s;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25));
  padding: 26px;
}

.u-section-3 .u-gallery-item-6 {
  box-shadow: 0 2px 24px 0 rgba(0,0,0,1);
}

.u-section-3 .u-back-slide-6 {
  transition-duration: 0.5s;
}

.u-section-3 .u-back-image-6 {
  object-position: 62.12% 50%;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25));
  padding: 26px;
}

.u-section-3 .u-carousel-control-1 {
  background-image: none;
  width: 35px;
  height: 35px;
}

.u-section-3 .u-carousel-control-2 {
  background-image: none;
  width: 35px;
  height: 35px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 712px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 15px;
  }

  .u-section-3 .u-slider-1 {
    margin-top: 80px;
    margin-bottom: 57px;
    min-height: 424px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-3 .u-gallery-1 {
    height: 393px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-3 .u-gallery-2 {
    height: 393px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-gallery-inner-2 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-top: 302px;
    width: 720px;
  }

  .u-section-3 .u-slider-1 {
    margin-top: -207px;
    margin-bottom: 0;
  }

  .u-section-3 .u-gallery-1 {
    height: 680px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 65px;
  }

  .u-section-3 .u-gallery-2 {
    height: 680px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-2 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: 1229px;
    width: 540px;
  }

  .u-section-3 .u-slider-1 {
    margin-top: -1134px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1607px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-gallery-2 {
    height: 1607px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-2 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 611px;
    width: 340px;
  }

  .u-section-3 .u-slider-1 {
    margin-top: -502px;
  }

  .u-section-3 .u-gallery-1 {
    height: 989px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-2 {
    height: 989px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 606px;
}

.u-section-4 .u-blog-1 {
  width: 1140px;
  margin: 158px 0 60px;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 375px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  height: 140px;
  margin-top: 20px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  height: 140px;
  margin-top: 20px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  height: 140px;
  margin-top: 20px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-4 {
  height: 140px;
  margin-top: 20px;
}

.u-section-4 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-blog-1 {
    width: 940px;
  }

  .u-section-4 .u-image-1 {
    height: NaNpx;
  }

  .u-section-4 .u-image-2 {
    height: NaNpx;
  }

  .u-section-4 .u-image-3 {
    height: NaNpx;
  }

  .u-section-4 .u-image-4 {
    height: NaNpx;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-blog-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-blog-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-blog-1 {
    width: 340px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 953px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  width: 525px;
  margin: 55px auto 0;
}

.u-section-5 .u-text-2 {
  width: 525px;
  margin: 0 auto;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 813px;
}

.u-section-5 .u-container-layout-1 {
  padding: 25px 30px 30px;
}

.u-section-5 .u-text-3 {
  margin: 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 813px;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 30px 30px 0;
}

.u-section-5 .u-image-1 {
  width: 270px;
  height: 270px;
  background-image: url("images/Untitleddesign2.png");
  background-position: 50% 50%;
  box-shadow: 0 -2px 8px 0 rgba(128,128,128,1);
  margin: 25px auto 0 27px;
}

.u-section-5 .u-text-5 {
  margin: 20px 0 0 30px;
}

.u-section-5 .u-text-6 {
  line-height: 2.2;
  margin: 14px 0 0 30px;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 24px;
  min-height: 16px;
  width: 216px;
  min-width: 176px;
  margin: 30px auto 0 27px;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

.u-section-5 .u-icon-3 {
  height: 100%;
}

.u-section-5 .u-icon-4 {
  height: 100%;
}

.u-section-5 .u-icon-5 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 670px;
  }

  .u-section-5 .u-text-4 {
    line-height: 28.8px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 670px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 945px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 60px;
    margin-right: 15px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 15px;
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
    margin-right: 0;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 803px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 151px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 127px;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px 0 0 20px;
}

.u-section-6 .u-text-1 {
  margin: 17px 60px 0 0;
}

.u-section-6 .u-text-2 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 3px 60px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 142px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 0 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.25rem;
  background-image: none;
  margin: 66px 20px 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 380px;
}

.u-section-6 .u-container-layout-3 {
  padding: 13px 0 30px;
}

.u-section-6 .u-text-4 {
  font-size: 1.25rem;
  background-image: none;
  margin: 0 0 0 20px;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 652px;
}

.u-section-6 .u-container-layout-4 {
  padding: 20px;
}

.u-section-6 .u-form-1 {
  height: 308px;
  margin: 0 -40px 0 0;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 679px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 105px;
  }

  .u-section-6 .u-text-1 {
    position: relative;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    position: relative;
    font-size: 3rem;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 117px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 313px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 538px;
  }

  .u-section-6 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 53px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 153px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-2 {
    font-size: 2.25rem;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 598px;
}

.u-section-7 .u-text-1 {
  margin: 60px 20px 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-7 .u-gallery-1 {
  height: 734px;
  grid-gap: 17px 17px;
  margin: 30px auto 0;
}

.u-section-7 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 6px 6px;
}

.u-section-7 .u-gallery-item-1 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-2 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-3 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-4 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-5 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-6 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-gallery-1 {
    grid-template-columns: repeat(3, auto);
    height: 605px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 923px;
  }

  .u-section-7 .u-gallery-1 {
    grid-template-columns: repeat(2, auto);
    height: 1043px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1784px;
  }

  .u-section-7 .u-gallery-1 {
    grid-template-columns: repeat(1, auto);
    height: 3129px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1210px;
  }

  .u-section-7 .u-gallery-1 {
    height: 1970px;
    margin-right: initial;
    margin-left: initial;
  }
}